@font-face {
  font-family: "Louis George Cafe";
  src: url("../webfonts/LouisGeorgeCafe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #be8f1a;
  --secondary: #848694;
  --gray: #323337;
  --dark: #212126;
  --font-family: "Louis George Cafe", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--secondary);
  background: var(--dark);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Century Gothic Bold", Arial, Helvetica, sans-serif;
}

a#showreelBtn {
  display: inline-block;
  font-size: inherit;
}

.maxw-550 {
  max-width: 550px;
}

.pageContainer {
  display: flex;
  /* height: 100vh; */
}

.containerSidebar {
  border-right: 0.01px solid #aaa;
  width: 100%;
  z-index: 9998;
  position: fixed;
  left: -100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
}

.sectionContainer {
  height: 100vh;
}

.section {
  /* Take full size */
  min-height: 75vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}

/* .no-x {
  overflow-x: hidden;
} */

.menuIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0.3rem;
  z-index: 9999;
}

.containerMain {
  /* Take the remaining width */
  flex: 1;
  position: relative;
}

a {
  transition: all 0.3s ease;
}

.mt-185 {
  margin-top: 185px;
}

.h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

#showreelBtn,
#submitBtn {
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #eee;
  border: 1px solid #aaa;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0;
  transition: border-color, background-color 0.3s;
}

#showreelBtn:hover,
#submitBtn:hover {
  border-color: #fff;
  background-color: var(--primary);
}

.sectionTitle {
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 0.85rem;
}

#home {
  background-size: cover;
  background-position: 80% 0%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

#myVideo {
  position: absolute;
  right: -15px;
  top: -215px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 3px solid rgb(33, 33, 37);
  background-color: var(--dark);
}

/* OUR WORK */

#ourWork {
  background-image: url(../img/backgrounds/our-work.png);
  background-size: cover;
  background-position: 80% 0%;
  background-repeat: no-repeat;
}

.videoContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.videoContainer > img {
  z-index: 1;
  display: none;
}

.videoContainer > iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

.dim {
  animation: dim 0.5s ease-in-out;
}

@keyframes dim {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.grayscale {
  filter: grayscale(100%);
}

.arrow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* END OUR WORK */

/* SERVICES */
.servicesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 100px);
  gap: 10px 10px;
}

.services {
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.services:nth-child(1) {
  background-image: url(../img/gallery/video-production.jpeg);
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
.services:nth-child(2) {
  background-image: url(../img/gallery/custom-request.jpeg);
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
.services:nth-child(3) {
  background-image: url(../img/gallery/commercials.jpeg);
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
.services:nth-child(4) {
  background-image: url(../img/gallery/corporate-video.jpeg);
  background-size: cover;
  background-position: 0% 65%;
  background-repeat: no-repeat;
}

.clientsContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  /* height: 43px; */
  /* width: 5076px; */
  /* background: url(../img/clients/all-clients-xl\ \(1\).png);
  animation: slide 60s linear infinite; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.flex-item {
  flex-basis: 25%;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}
/* END SERVICES */

/* #whatWeDo {
  position: relative;
} */

#servicesEagle {
  position: absolute;
  right: 0;
  top: -340px;
  max-width: 100%;
}

.show-mobile {
  display: block;
}

#contactUs {
  background-image: url(../img/backgrounds/what-we-do.png);
  background-size: cover;
  background-position: 80% 0%;
  background-repeat: no-repeat;
}

.btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.75rem;
  border-radius: 0px 15px 0px 15px;
}

.btn:hover {
  background-color: #be8f1a;
}

.color-primary {
  color: var(--primary);
}

.color-gray {
  color: var(--secondary);
}

.color-light {
  color: #eee;
}

.background-primary {
  background-color: var(--primary);
}

.bg-clip {
  overflow: clip;
}

/* NAVS */
.nav-link {
  font-weight: 400;
  font-size: 14px;
}

.nav-link:hover {
  color: white;
}

/* TOPNAV */
#topNav {
  position: fixed;
  top: 2rem;
  display: none;
  z-index: 9999;
}

#topNav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#topNav .nav-link {
  color: #eee;
}

/* SIDENAV */
#sideNavLogo {
  max-width: 100px;
  padding-left: 10px;
  margin-top: 4.5rem;
}

.sideNavLogoContainer {
  display: flex;
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

#sideNavLinks > ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 100%;
}

#sideNavLinks .nav-link {
  color: #eee;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

#sideNavLinks .nav-link:hover {
  border-right: 2px solid #eee;
}

#sideNavLinks .active > span:nth-child(2) {
  opacity: 1;
}

/* END SIDENAV */

/* SOCIAL MEDIA ICONS */
#socialMediaContainer {
  position: fixed;
  right: 3rem;
  display: none;
  height: 100%;
  z-index: 9999;
}

#socialMediaContainer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  padding: 0.5rem;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.hover-primary:hover {
  color: var(--primary) !important;
}

/* END NAVS */

/* CONTACT FORM */
.form .form-control {
  background-color: transparent;
  color: #eee;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aaa;
}

.form .form-control:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #fff;
}

.form .form-control:hover {
  border-color: #fff;
}

.form label {
  font-size: 0.85rem;
  font-weight: 600;
}

.alert {
  position: fixed;
  text-align: center;
  top: 2rem;
  max-width: 600px;
  min-width: 300px;
  left: 20%;
}

.d-none {
  display: none;
}
/* END CONTACT FORM */

/* LIGHTBOX */
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#VisaChipCardVideo {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
}

#light {
  display: none;
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  z-index: 1002;
  overflow: visible;
  transition: display 2s;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display: none;
}

.test:hover ~ .test2 {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .flex-item {
    flex: 1 1;
  }

  .topbuffer {
    margin-top: 100px;
  }
  /* FOOTER */
  footer {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    width: fit-content;
    z-index: 9999;
    opacity: 0.6;
    transition: opacity 0.5s;
  }
  footer:hover {
    opacity: 1;
  }
  #myVideo {
    right: 0;
    top: 0;
  }
  #whatWeDo,
  #ourTeam {
    height: fit-content;
  }
  #servicesEagle {
    position: absolute;
    right: -140px;
    top: -340px;
    max-width: 290%;
  }
  .menuIcon {
    display: none;
  }
  .containerMain {
    margin-left: 200px;
  }
  .containerSidebar {
    width: 20%;
    max-width: 200px;
    position: fixed;
    left: 0%;
    z-index: 9999;
    background-color: var(--dark);
    font-size: inherit;
  }
  #topNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 25%);
  }
  #socialMediaContainer {
    display: flex;
    align-items: center;
  }
  .videoContainer img:nth-child(3) {
    display: initial;
  }
  .videoContainer {
    grid-template-columns: 1.25fr 1fr;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #sideNavLinks .active {
    border-right: 2px solid #eee;
  }

  #sideNavLinks a > span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.3s;
  }
  #sideNavLinks a > span:nth-child(2):hover {
    opacity: 1;
  }
  .section {
    height: 70%;
    margin-top: 0;
    margin-bottom: 0;
  }
  #light {
    left: calc((100vw - 80vw) / 2);
    width: 80vw;
    max-width: 100vw;
    z-index: 99999;
  }
}

@media screen and (min-width: 992px) {
  #whatWeDo,
  #ourTeam {
    height: 100%;
  }
  .servicesContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: -1;
  }
  .videoContainer img {
    display: initial;
  }
  .videoContainer {
    grid-template-columns: 1fr 1.25fr 1fr;
  }
  #ourTeamImg {
    position: absolute;
    left: 0;
    top: -215px;
    max-width: 125%;
  }
  /* #ourTeam {
    background-image: url(../img/take1ourteam.png);
    background-size: 50%;
    background-position: 90% 65%;
    background-repeat: no-repeat;
  } */
  .show-mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  /* #ourTeam {
    background-position: 90% 80%;
  } */
  .section {
    height: 100%;
  }
}
@media screen and (min-width: 1400px) {
  /* #ourTeam {
    background-position: 90% 90%;
  } */
}
@media screen and (min-width: 1600px) {
  /* #ourTeam {
    background-position: 90% 105%;
  } */
}

@media (orientation: landscape) {
  #light {
    left: calc((100vw - 80vw) / 2);
    width: 80vw;
    max-width: 100vw;
  }
}
