:root {
  --primary: #be8f1a;
  --secondary: #646674;
  --gray: #323337;
  --dark: #212126;
  --font-family: "Century Gothic Regular", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--secondary);
  background: var(--dark);
  padding: 0;
  margin: 0;
}

.pageContainer {
  display: flex;
  height: 100vh;
}

.containerSidebar {
  border-right: 0.01px solid #aaa;
  width: 100%;
  z-index: 10;
  position: absolute;
  left: -100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.sectionContainer {
  height: 100%;
}

.section {
  /* Take full size */
  height: 100%;
  width: 100%;
}

.containerMain {
  /* Take the remaining width */
  flex: 1;
  position: relative;
  /* Make it scrollable */
  overflow-y: scroll;
}

a {
  transition: all 0.3s ease;
}

#our-work {
  background-image: url(../img/backgrounds/our-work.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#what-we-do {
  background-image: url(../img/backgrounds/what-we-do.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#our-team {
  background-image: url(../img/backgrounds/our-team.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#contact {
  background-image: url(../img/backgrounds/what-we-do.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.75rem;
  border-radius: 0px 15px 0px 15px;
}

.btn:hover {
  background-color: #be8f1a;
}

.color-primary {
  color: var(--primary);
}

.color-gray {
  color: var(--secondary);
}

.color-light {
  color: #eee;
}

.background-primary {
  background-color: var(--primary);
}

.bg-clip {
  overflow: clip;
  border: 0.25px solid gray;
}

/* NAVS */
.nav-link {
  font-weight: 400;
  font-size: 14px;
}

/* TOPNAV */
#topNav {
  position: fixed;
  top: 2rem;
  display: none;
}

#topNav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

#topNav .nav-link {
  color: #eee;
}

/* SIDENAV */
#sideNavLogo {
  max-width: 100px;
}

.sideNavLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sideNavLinks > ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 100%;
}

#sideNavLinks .nav-link {
  color: #eee;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

#sideNavLinks a > span:nth-child(2) {
  opacity: 0;
}

#sideNavLinks .active {
  border-right: 2px solid #eee;
}

#sideNavLinks .active > span:nth-child(2) {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .containerSidebar {
    width: 20%;
    position: initial;
  }
  #topNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 25%);
  }
}
